.home_wrapper {
}

/* phần sự kiện, giảm giả ở home */
.home-events-banner {
  margin-bottom: 20px;
}

.home-events-banner_ads {
  gap: 8px;
}

/* Phần hiển thị các sự kiện giảm giá 2 */
.home-events-banner_ads-wrapper_2 {
  flex: 1 1 auto;
  gap: 8px;
}

/* Phần hiển thị danh mục quảng cáo và voucher */
.home-events-banner_list {
  margin-top: 24px;
}

.home-events-banner_list-text {
  margin: 8px 0;
  font-weight: 400;
  word-wrap: normal;
}

/* Danh mục sản phẩm */
.home-category {
  margin-bottom: 32px;
}

/* Phần List */
.home-category_list-item {
  overflow-x: unset;
  padding-top: 10px;
}

.home-category_list-item:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-color: #dddddd;
}

.home-category_list-item > h3 {
  font-weight: 400;
  padding: 0 6px;
}

/* Phần Button trong Slide */
.round_button {
  display: none;
}

/* Chỉ áp dụng khi lg trở lên */
@media (min-width: 1024px) {
  .round_button {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 10px;
    border-radius: 50%;
    top: 50%;
    background: white;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    color: black;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.5, 0, 0.2, 1);
  }
}
/* 64px là chiều cao của title */
.round_button.left { left: 0; transform: translateX(-50%) translateY(calc(-50% + 64px * 0.5)); }
.round_button.right { right: 0; transform: translateX(50%) translateY(calc(-50% + 64px * 0.5)); }

.home-category:hover .round_button.cate_button {
  font-size: 20px;
  height: 50px;
  width: 50px;
}
/* CSS cho Sản phẩm gợi ý */