/* phần sự kiện, giảm giả ở home */
.home_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  height: 1200px;
  width: 100%;
}

.home-events-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
}

.home-events-banner_ads {
  display: flex;
  height: 240px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 32px;
  gap: 8px;
}

/* Phần hiển thị các sự kiện giảm giá 2 */
.home-events-banner_ads-wrapper_2 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;

}
.home-events-banner_ads-content_2 {
  width: 100%;
  height: 116px;       
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat; 
  border-radius: 3px;

}

